# Lists

In [1]:
#lists are used to store collection of Hetrogeneous items
#Lists are mutable, which means the items without changing their identity

In [3]:
# creating Empty list
a = []
print(type(a))
#or
b = list()
print(b)

<class 'list'>
[]

In [5]:
# syntax :- variable_name = [value1, value2, value2, ......, valuen]
student_name = ["reshma", 1, 1.5]
print(student_name)

['reshma', 1, 1.5]

In [6]:
#accessing list elements  ---> 1.index based access  -> 1.positive ->  forward access
#                                                    -> 2.negative -> backward access
#                         ---> 2.slicing based access

In [7]:
student_name[1]  # -> positive access

1

In [8]:
student_name[-1] # -> negative access

1.5

In [11]:
student_name[0 : 2]  # -> slicing based access

['reshma', 1]

In [12]:
#list will support 2 basic operations
 # 1. + -> Conactination
 # 2. * -> Replication

In [13]:
l1 = [10, 20, 30]
l2 = [40, 50, 60]

In [14]:
l1 + l2 # concatination

[10, 20, 30, 40, 50, 60]

In [17]:
l1 * 3 # Replication

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [18]:
# update elements in list
l = [10, 29, 30]
l[1] = 20
print(l)

[10, 20, 30]

In [20]:
# deleting elements in list
l = [10, 20, 30]
del l[1]
print(l)

[10, 30]

In [21]:
student_name = ["reshma", 1, 1.5, [10, 20, 30]]
student_name[2]

1.5

In [22]:
student_name[3][0 : 2]

[10, 20]

In [24]:
#accessing each and every element in a list
l = [10, 20, 30, 40]
for i in l:
    print(i)

10
20
30
40

In [25]:
#sum of elements in list
print(sum(l))

100

In [27]:
max(l) # -> used to get the maximum element in list

40

In [29]:
min(l) # -> used to get the minimum element in list

10

In [30]:
# len() # -> returns the no.of characters in string
len(l)

4

In [31]:
#Built in list functions
#1. append() -> used to add elements at the end of the list
l2 = [1, 4, 5, 7]
l2.append(9)
print(l2)

[1, 4, 5, 7, 9]

In [33]:
 # 2. insert() -> used to insert elements at specified position
 # It takes two parameters 1. index 2. element
 # syntax : list_name.insert(index, element)
l =[10, 20, 30, 40]
l.insert(1, 15)
print(l)

[10, 15, 20, 30, 40]

In [39]:
# 3.remove() -> delete the element based on the value
l =[10, 20, 30, 40]
l.remove(20)
print(l)

[10, 30, 40]

In [40]:
# 4. pop() -> delete the last element and returns it
l =[10, 20, 30, 40]
l.pop()

40

In [49]:
# 5. copy() -> it creates a copy of the list
l =[10, 20, 30, 40]
l1 = l.copy()
l1

[10, 20, 30, 40]

In [46]:
# 6. count() -> used to return the frequency of an element in list
sample = [5, 7, 8, 9, 4, 1, 10, 4, 10, 20, 30]
sample.count(4)

2

In [48]:
# 7. sort() -> used to sort the list 
sample = [5, 7, 8, 9, 4, 1, 10, 4, 10, 20, 30]
sample.sort()
print(sample)

[1, 4, 4, 5, 7, 8, 9, 10, 10, 20, 30]

In [50]:
sample = [5, 7, 8, 9, 4, 1, 10, 4, 10, 20, 30]
sample.sort(reverse = True)
print(sample)

[30, 20, 10, 10, 9, 8, 7, 5, 4, 4, 1]

In [51]:
# index() -> used to return the index of the element
sample = [9, 8, 6, 4, 3, 2, 1]
sample.index(1)

6

# Sets

In [52]:
# It is a unordered collection of elements
# sets are mutable 
# sets are unindexed -> it is not possible to apply indexing and slicing 
# sets does not allow duplicate elements

In [54]:
#creating an empty set
s = {} # -> it will create a empty dictionary but not empty set
print(type(s))
#or
s1 = set()
print(type(s1))

<class 'dict'>
<class 'set'>

In [56]:
#creating a set with collection of elements
s2 = {1, 2, 3, 4, 5}
print(type(s2))

<class 'set'>

In [58]:
s3 = set([1, 2, 3, 4]) # -> converts a list to set
print(s3)

{1, 2, 3, 4}

In [60]:
name = "abcdabcd"
set(name) # it removes duplicates

{'a', 'b', 'c', 'd'}

In [63]:
#Frozen sets in Python are immutable objects
frozen_set = frozenset(["x", "y", "z"])

In [65]:
#adding elements in set
x = {1, 2, 3, 4}
x.add(6)
print(x)

{1, 2, 3, 4, 6}

In [66]:
#len() -> used to get the length of the set
len(x)

5

In [72]:
x = {1, 2, 3, 4, 6}
x.remove(6) # ->delete the element based on the value
print(x)

{1, 2, 3, 4}

In [73]:
x.pop() # -> used to delete the element and return it

1

In [76]:
x.clear() # used to clear the set

In [77]:
print(x)

set()

In [80]:
x = {1, 2, 3, 4, 6}
y = x.copy() # it creates a copy of the set
print(y)

{1, 2, 3, 4, 6}

In [82]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
print(s1 - s2)# Returns a set that is the difference between two sets
print(s2 - s1)

{2, 4}
{5, 6}

In [84]:
s1.difference_update(s2) # Updates the existing caller set with the difference between two sets
print(s1)

{2, 4}

In [86]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
s1.intersection(s2) # Returns a set that has the intersection of all sets

{1, 3}

In [88]:
s1.intersection_update(s2) # Updates the existing caller set with the intersection of sets
print(s1)

{1, 3}

In [90]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
s1.isdisjoint(s2) #Checks whether the sets are disjoint or not

False

In [97]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
s1.issubset(s2) # Returns True if all elements of a set s1 are present in another set s2

False

In [96]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
s1.issuperset(s2) #Returns True if all elements of a set s1 occupies set s2

False

In [98]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
s1.symmetric_difference(s2) #Returns a set which is the symmetric difference between the two sets

{2, 4, 5, 6}

In [101]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
s1.symmetric_difference_update(s2) # Updates the existing caller set with the symmetric difference of sets
print(s1)

{2, 4, 5, 6}

In [103]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 1, 3}
s1.union(s2) # Returns a set that has the union of all sets

{1, 2, 3, 4, 5, 6}